<header class="header">
    <div class="header__wrapper">
        <nav class="header__nav">
            <ul class="header__list">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="header__item">
                    <a class="header__link"  routerLink="/">Home</a>
                </li>
                <li routerLinkActive="active" class="header__item">
                    <a class="header__link" routerLink="/auth">Auth</a>
                </li>
                <li routerLinkActive="active" class="header__item">
                    <a class="header__link" [routerLink]="['/tasks']">Tasks</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <div class="content__wrapper">
        <router-outlet></router-outlet>
    </div>
</body>

