<div class="todo">
    <h2 class="todo__title">Todo list</h2>
   <div class="todo__subtitle">
        <button class="btn btn-add" (click)="createNewTodo()">Add new todo</button>
       <!-- <div  [formGroup]="filterForm"> -->
            <input type="text" #searchInput [formControl]="filterControl">  
       <!-- </div> -->
        <!-- <button (click)="filterList()">Filter</button> -->
        <!-- [(ngModel)]="search" -->
   </div>
    <app-new-todo *ngIf="isOpenModal" (task)="addTodoPress($event)" [objectToEdit]="editObject"></app-new-todo>
    <div class="todo__items">
            <app-my-comp 
                *ngFor="let todoItem of (todoTasks | async) "
                [todo]="todoItem" >
            </app-my-comp> 
    </div>
</div>
<!-- 
(deleteItemEvent)="deleteItem($event)"
                (editItemEvent)="editItem($event)"
                (completeItemEvent)="completeTodoTask($event)" -->

                <!-- (editedTask)="editTodoTask($event)" -->