<div class="todo">
    <h2 class="todo__title">Todo list</h2>
   <div class="todo__subtitle">
        <button class="btn btn-add" (click)="createNewTodo()">Add new todo</button>
            <input type="text" #searchInput [formControl]="filterControl">  
   </div>
    <app-new-todo *ngIf="isOpenModal" (task)="addTodoPress($event)" [objectToEdit]="editObject" (editedTask)="editTodoTask($event)"></app-new-todo>
    <div class="todo__items">
            <app-my-comp 
                *ngFor="let todoItem of (todoTasks | async)"
                [todo]="todoItem"             
                (completeItemEvent)="completeTodoTask($event)"
                (deleteItemEvent)="deleteItem($event)"
                (editItemEvent)="editItem($event)">
            </app-my-comp> 
    </div>
</div>

